body {
  text-align: center;
}

li {
  display: inline-block;
}

button {
  margin: 5px;
}

ul div {
  color:seagreen;
  font-weight: bold;
}

.strikeThrough {
  text-decoration: line-through;
  color:red;
  font-weight: bold;
}

