body {
  text-align: center;
}

li {
  list-style: none;
  color:blue;
  margin-right: 30px;
  font-weight: bold;
}

.strikeThrough {
  text-decoration: line-through;
  color:red;
  font-weight: bold;
}

ul {
  display:flex;
}

/* .toDoItems {
  display:block;
  color:brown;
  margin-left: 47%;
  background: none;
	border: none;
} */