body {
  text-align: center;
  background: gray;
}

li {
  display: inline-block;
}

.xButton {
  margin: 5px;
  background: red;
  font-weight: bold;
  border-radius: 50%;
}

ul div {
  font-weight: bold;
}

.strikeThrough {
  text-decoration: line-through;
  color:red;
  font-weight: bold;
}

